<div class="container grid w-full gap-8 grid-cols-1 md:grid-cols-12 py-4">
    <div class="col-span-12 md:col-span-4">
        <custom-card [cardTemplate]="myCard"
            addedClass="flex flex-col items-center justify-center flex-1 text-white text-center"></custom-card>
    </div>
    <div class="col-span-12 md:col-span-8 flex flex-col justify-between gap-8">
        <custom-card [cardTemplate]="aboutCard" addedClass=""></custom-card>
        <custom-card [cardTemplate]="companiesCard" addedClass=""></custom-card>

    </div>
</div>
<ng-template #myCard class="">
    <img src="https://wordpressboss.com/cp/bentos-demo/assets/images/about/profile.png" class="w-40 md:w-72"
        alt="bentos-demo">
    <h2 class="uppercase font-medium font-poppins text-4xl">rida akhsas</h2>
    <p class="font-poppins text-text-gray text-wrap">I am a Web Developer based in Morocco.</p>
    <div class="social w-full flex justify-around mt-2">
        <div class="button rounded-xl p-2 hover:text-primary">
            <a href="https://www.facebook.com/rida.akhsas" target="_blank">
                <i-lucide name="facebook" class="my-icon"></i-lucide>
            </a>
        </div>
        <div class="button rounded-xl p-2 hover:text-primary">
            <a href="https://www.linkedin.com/in/rida-akhsas-7b7b3b1b1/" target="_blank">
                <i-lucide name="linkedin" class="my-icon"></i-lucide>
            </a>
        </div>
        <div class="button rounded-xl p-2 hover:text-primary">
            <a href="https://twitter.com/rida_akhsas" target="_blank">
                <i-lucide name="twitter" class="my-icon"></i-lucide>
            </a>
        </div>
        <div class="button rounded-xl p-2 hover:text-primary">
            <a href="https://github.com/rakhsas" target="_blank">
                <i-lucide name="github" class="my-icon"></i-lucide>
            </a>
        </div>
    </div>
</ng-template>
<ng-template #aboutCard>
    <div class="flex flex-col p-10 text-white bg-custom-black rounded-[20px] w-full gap-3">
        <p class="font-poppins text-text-gray">Hello There!</p>
        <p class="about font-poppins text-white font-normal text-4xl max-w-2xl"> I’m Rida Akhsas, a product designer
            crafting user-centric design with pixel-perfect precision.</p>
        <div class="status flex gap-2 items-center">
            <div class="cirlce rounded-full bg-lime-300 p-1.5"></div>
            <p class="font-poppins text-text-gray font-normal text-base">Available for Freelancing</p>
        </div>
        <app-button [buttonConfig]="downloadBtnConf"></app-button>
    </div>
</ng-template>
<ng-template #companiesCard>
    <div class="p-6 px-8 text-white bg-custom-black rounded-[20px] w-full">
        <p class="font-poppins text-white font-medium text-2xl text-wrap p-2">Company I Worked With</p>
        <custom-scroller></custom-scroller>
    </div>
</ng-template>