.project-filter {
    animation-name: fadeInUp;
}

.filter-btns-one li.current {
    color: theme('colors.primary')
}
.filter-btns-one li {
    line-height: 1;
    cursor: pointer;
    font-size: 14px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-weight: 500;
    position: relative;
    margin: 0 20px 20px;
    padding-bottom: 15px;
    color: rgb(119, 119, 125);
}

.filter-btns-one li::after {
    opacity: 0;
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 30px;
    height: 3px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: theme('colors.primary');
}
.filter-btns-one li.current::after {
    opacity: 1;
}

.arrow {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    text-align: center;
}

.container {
    animation-delay: 0.2s;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInUp;
    animation: fadeInUp 1s both;
}
.project-item:hover .arrow {
    z-index: 10 !important;
    transition: z-index 0.3s ease !important;
}
.project-item:hover .project-image img {
    opacity: 0.4;
    transition: opacity 0.3s ease !important;
}