<div class="container grid w-full gap-8 py-4 mt-20 px-4 lg:px-10" @fadeInUp>
    <custom-card [cardTemplate]="mainCard" addedClass="flex flex-col items-center w-full rounded-[20px] p-4"></custom-card>
</div>

<ng-template #mainCard>
    <div class="heading flex flex-col gap-8 w-full items-center py-6">
        <p class="font-poppins text-white text-5xl font-semibold text-center tracking-wide">Works & Projects</p>
        <p class="font-poppins text-text-gray text-base text-center max-w-xl text-wrap">
            Check out some of my projects, meticulously crafted with love and dedication, each one reflecting the passion and soul I poured into every detail.
        </p>
    </div>
    
    <ul class="project-filter filter-btns-one visible self-start flex flex-wrap">
        <li class="project-filter-item" *ngFor="let category of projectTabCategories"
            [ngClass]="category.isActive ? 'current' : ''"
            (click)="setCurrent(category)">
            <span class="project-filter-item-text ">{{category.name}}</span>
        </li>
    </ul>

    <!-- Row layout for the cards -->
    <div class="grid w-full grid-cols-1 md:grid-cols-3 gap-4 px-5 pb-8">
        <!-- Card 1 -->
        <div class="col-span-1 w-fit" *ngFor="let project of filteredWorks()">
            <custom-card [cardTemplate]="projectCard" [addedClass]="'flex flex-col rounded-b-[20px] bg-zinc-950'" [borderClass]="'1px solid #77777d33'"></custom-card>
            <ng-template class="project-item" #projectCard>
                <div class="project-image lg:max-w-sm max-w-xs relative">
                    <img [src]="project.img" alt="">
                    <div class="arrow absolute rounded-full bg-primary p-4 opacity-100">
                        <lucide-angular name="MoveUpRight" size="24" color="#fff"></lucide-angular>
                    </div>
                </div>
                <div class="project-content p-4">
                    <span class="sub-title text-text-gray">{{project.type}}</span>
                    <h3 class="text-white">{{ project.title }}</h3>
                </div>
            </ng-template>
        </div>
    </div>
    <!-- call-to-action-part -->
    <div class="flex"></div>
</ng-template>
